* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 90px 20px 0;
  background-color: #ddd;
}

.header {
  background-color: black;  /*#2b45c5;*/
  height: 65px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 65px;
  width: max-content;
  height: 65px;
}

.nav-menu-link {
  padding: 15px;
  margin:0;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.2s;
}



/*sidebar*/

.sidebar{
  top:65px;
  height: calc(100vh - 65px);
  width:250px;
  position: fixed;
  left: 0;
  border-right: 3px solid #ccc;
  background-color: white;
  display: flex;
  justify-content:center;
}

.category-name{
  margin-top:5px;
  font-size: 20px;
  color:rgb(93, 88, 88);
}

/*navbar content items*/
.logo {
  height:65px;
}

.company-name{
  font-size:35px !important;
}

.input-search{
  height:35px;
  width: 250px;
  background-color: #eee;  
  border: none; /* <-- This thing here */
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;

}

.input-search::placeholder {
  text-align: center; 
  
}

.input-search:focus{
  outline: none !important;
  border:2px solid #719ECE;;
  box-shadow: 0 0 10px #719ECE;
}
.search-button{
  height: 35px;
  margin-left:0px;
  border:1px solid #034574;
  border-left:1px solid #ccc;
  border-radius: 2px;
  width: 40px;
  background-color: #034574;
  color:white;
  cursor: pointer;
}

.search-button:hover{
  background-color: #719ECE;
  border: 2px solid #034574;
  border-radius: 2px;
}

.user-name{
  font-size: 20px;
  line-height: 65px;
  color:#ccc;
}