* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 90px 20px 0;
  background-color: #ddd;
}

.header {
  /* background-color: #2b45c5;   */
  background-color: black;
  height: 65px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 65px;
  width: max-content;
  height: 65px;
}

.nav-menu-link {
  padding: 15px 15px 15px 15px;
  margin:0;
  /* border-radius: 3px; */
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}








.logo {
  height:65px;
}

.company-name{
  font-size:35px !important;
}

.dropdown{
  top:80px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #034574;
  width: 100px;

}

.dropdown-item{
  line-height: 50px;
  list-style: none;
  width: max-content;
  text-align: center;
}

hr{
  width:98px;
  margin-left:-40px;
}

.input-search{
  height:35px;
  width: 250px;
  background-color: #eee;  
  border: none; /* <-- This thing here */
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;

}

.input-search::placeholder {
  text-align: center; 
  
}

.input-search:focus{
  outline: none !important;
  border:2px solid #719ECE;;
  box-shadow: 0 0 10px #719ECE;
}
.search-button{
  height: 35px;
  margin-left:0px;
  border:1px solid #034574;
  border-left:1px solid #ccc;
  border-radius: 2px;
  width: 40px;
  background-color: #034574;
  color:white;
  cursor: pointer;
}

.search-button:hover{
  background-color: #719ECE;
  border: 2px solid #034574;
  border-radius: 2px;
}

.user-name{
  font-size: 20px;
  line-height: 65px;
  color:#ccc;
}