* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: white;
  }
  
  .header {
    background-color: black;  /*#2b45c5;*/
    height: 65px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  
  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 65px;
    width: max-content;
    height: 65px;
  }
  
  .nav-menu-link {
    padding: 15px;
    margin:0;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #034574;
    transition: 0.2s;
  }
  .nav-link{
    cursor: pointer;
  }

  /*---------------------*/
  /*Navbar content items*/
  /*---------------------*/
  .logo {
    height:65px;
  }
  
  .company-name{
    font-size:35px !important;
  }
  

  
  .user-name{
    font-size: 20px;
    line-height: 65px;
    color:#ccc;
  }
  
  
  /*----------*/
  /* Sidebar */
  /*----------*/
  
  .sidebar{
    top:65px;
    height: calc(100vh - 65px);
    width:250px;
    position: fixed;
    left: 0;
    border-right: 3px solid #ccc;
    background-color: white;
    display: flex;
    justify-content:center;
  }
  
  .category-name{
    margin-top:5px;
    font-size: 20px;
    color:rgb(93, 88, 88);
  }
  
 



  /*--------------*/
  /* Selectors */
  /*--------------*/
  
  
  
  .counter-button{
    height: 35px;
    margin-left:0px;
    border:1px solid #034574;
    border-left:1px solid #ccc;
    width: 40px;
    background-color: #034574;
    color:white;
    cursor: pointer;
  }
  .add-button{
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
  .subtract-button{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .counter-button:hover{
    background-color: #719ECE;
    border: 2px solid #034574;
    border-radius: 2px;
  }
  
  
  
  .input-counter{
    height:35px;
    width: 100px;
    background-color: #eee;  
    border: none; /* <-- This thing here */
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
    text-align: center;
  
  }
  
  
  
  .input-counter:focus{
    outline: none !important;
    border:2px solid #719ECE;;
    box-shadow: 0 0 10px #719ECE;
  }
  
  .add-product{
    width: 130px;
    height: 35px;
    margin-left:5px;
    background-color: #034574;
    color:white;
    border:1px solid #034574;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-product:hover{    
    background-color: #719ECE;
    border: 2px solid #034574;
    border-radius: 2px;
  }

  .add-product-disabled{
    width: 130px;
    height: 35px;
    margin-left:5px;
    background-color: #ccc;
    color:white;
    border:1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }


  .details-btn{
    width: 130px;
    height: 35px;
    margin-left:5px;
    margin-top:5px;
    background-color: #29b3c5;
    color:white;
    border:1px solid #034574;
    border-radius: 5px;
    cursor: pointer;
  }
  /*--------------------*/
  /* Product container */
  /*--------------------*/

  .item-container {
    min-width: 350px;
    width: 350px;
    height: 380px;
    margin:15px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  
  .item-title{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 30px;
  }
  .item-available-products{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 30px;
  }
  
  
  .item-price{
    width: 100%;
    height: 20px;
    margin-bottom:5px;
    text-align: center;
    line-height: 30px;
  }

  .item-image{
    width: 100%;
    height: 180px;
    text-align: center;
    line-height: 100px;
  }

  .item-selectors{
    margin-top:15px;
    text-align: center;
    width:100%;
  }
  .product-image{
    max-width: 230px;
    max-height: 230px;
  }

  .list-items{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /*------------*/
  /*-- Loader ---*/
  /*------------*/
  .loading-gif{
    text-align: center;
  }

  .loading-label{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;    
  }

  /*------------*/
  /*-- Cart Widget ---*/
  /*------------*/
  .cart-widget{
    display: flex;
    justify-content: space-around;
  }
  .cart-widget-label{
    color:white;
    margin-top:6px;
    font-size: 20px;
  }
  .cart-img{
    width: 40px;
    height:40px;
    margin-top:-5px;

  }

  .cart-button{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-left:0px;
    margin-top:13px;
    border:2px solid #154361;
    border-radius: 2px;
    width: 90px;
    background-color: black;
    color:white;
    cursor: pointer;
  }

  .login-img{
    height:55px;
    margin-top:4px;
    line-height: 65px;
  }


  /*--------------------*/
  /*--- Item Details ---*/
  /*-------------------*/


  .item-detail-container{
    display: flex;
    justify-content: center;
  }

  .item-detail{
    border: 2px solid #719ECE;
    border-radius: 5px;
    width:50%;
    height:80vh;
    display: flex;
    flex-direction: column;
    padding:15px;
  }


  .item-detail-title{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 30px;
  }
  
  .item-detail-price{
    width: 100%;
    height: 20px;
    margin-bottom:5px;
    text-align: center;
    line-height: 30px;
  }

  .item-detail-image{
    width: 100%;
    height: 430px;
    text-align: center;
    line-height: 100px;
  }

  .product-detail-image{
    max-width: 430px;
    max-height: 430px;
  }

/*---------------------------------*/
  /*------Cart Counter--------*/
  /*---------------------------------*/
  .cart-title{
    font-size:20px;
    margin-bottom:15px;
  }
  .cart-container{
    display: flex;
    justify-content: center;
  }
  .list-item-cart{
    list-style: none;
  }

  .waring-button-max-limit-reached{
    height: 35px;
    margin-left:0px;
    border:1px solid #ccc;
    border-left:1px solid #ccc;
    width: 40px;
    background-color: #ccc;
    color:white;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }

  .waring-button-min-limit-reached{
    height: 35px;
    margin-left:0px;
    border:1px solid #ccc;
    border-left:1px solid #ccc;
    width: 40px;
    background-color: #ccc;
    color:white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .remove-product{
    width: 130px;
    height: 35px;
    margin-left:5px;
    background-color: #c71245;
    color:white;
    border:1px solid #8c8c8c;
    border-radius: 5px;
    cursor: pointer;
  }
  .remove-product:hover{    
    background-color: #719ECE;
  }


  table{
    border: 1px solid #ccc;
  }

  table td {
    border: 1px solid #ccc;
    text-align: center;
  }

  table thead tr td {
    width: 350px;
    background-color: #eee;
    font-weight: bold;
  }


  .remove-all-products-container {
    display: flex;
    justify-content: right;
    margin-right: 10vw;
    margin-bottom:20px;
  }

  .remove-all-products{
    width: 150px;
    height: 55px;
    margin-left:5px;
    background-color: #c71245;
    color:white;
    border:1px solid #8c8c8c;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    
  
  }
  .remove-all-products:hover{    
    background-color: #719ECE;
  }


  
  /*---------*/
  /* Search bar*/
   /*--------*/
.search-container{
  display: flex;
  justify-content: center;
}

.input-search{
  height:50px;
  width: 40vw;
  background-color: #eee;  
  border: 1px solid #ccc; 
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
  font-size:24px;
  text-align: center;
}

.input-search::placeholder {
  text-align: center; 
  font-size:24px;
  
}

.input-search:focus{
  outline: none !important;
  border:2px solid #719ECE;;
  box-shadow: 0 0 10px #719ECE;
  text-align: center;
  
}

.input-search:focus::placeholder {
  color: transparent;
}


.clean-button-disabled{
  height: 50px;
  margin-left:0px;
  background-color: #ccc;
  color:white;
  border:1px solid #ccc;
  border-radius: 2px;
  width: 40px;
  cursor: pointer;
  font-size:20px;
  font-weight: bold;
}


.clean-button{
  height: 50px;
  margin-left:0px;
  border:1px solid #034574;
  border-radius: 2px;
  width: 40px;
  background-color: #034574;
  color:white;
  cursor: pointer;
  font-size:20px;
  font-weight: bold;
}

.clean-button:hover{
  background-color: #719ECE;
  border: 2px solid #034574;
  border-radius: 2px;
}